body{
    margin: 0;
    background-image: url('https://wallpaperset.com/w/full/4/6/7/96482.jpg');
    background-size: cover;
    display: flex;
}
#material{
    position: relative;
    top:20px;
    height:130%;
    width:80%;
    background-color: pink;
    margin:auto;
    /* border-radius:  */
}
#upper{
    height:45%;
    background-color: red;
    background-image: url('marvel.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
#fav-link{
    font-size:22px;
    color: aliceblue;
    position: absolute;
    left:2vw;
    top:1vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color:rgb(53, 148, 232);
    font-weight:700;
}
#input{
    height:150px;
    width:170px;
    /* background-color: aqua; */
    position: absolute;
    top:10px;
    right:3vw;
    /* background-color: blue; */
    /* display: flex; */
}
input{
    height:25px;
    width:150px;
}
#input i{
    position: absolute;
    top:0.5px;
    background-color: rgb(239, 239, 245);
    height: 24px;
    width:25px;
    font-size: 23px;
    /* right: 1px; */
}
#search-list{
    height: 125px;
    width:170px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.search-item{
    height: 40px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    border: 1px solid black;
}
.left-search{
    width: 40px;
    height: 100%;
    background-color: blueviolet;
    background-size: contain;
}
.right-search{
    width:130px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 10px;
}
.naam{
    width:100px;
    height: 100%;
    /* background-color: palegreen; */
}
.chitra {
    width:30px;
    height: 100%;
    /* background-color: pink; */
    /* position: absolute; */
    top:10px;
    right:0px;
    top:0px;
    position: relative;
} 
.chitra i{
    font-size: 10px;
}
#bottom{
    background-color: rgb(25, 24, 24);
    height: 70%;
    position: relative;
    display: flex;
}
#left{
    /* background-color: plum; */
    height: 105%;
    width:25%;
    /* background-color: bisque; */
}
#left-cover{
    position: relative;
    bottom:110px;
    /* background-color: plum; */
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    /* background-color: rgb(138, 154, 56); */
}
#middle{
    /* background-color: blue; */
    width:50%;
    height: 115%;
    position: relative;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
    bottom:89px;
}
#right{
    position: relative;
    bottom:30px;
    /* background-color: rgb(61, 172, 85); */
    height: 105%;
    width:25%;
    position:absolute;
    right:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right-head{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: white;
}
#right-list{
    height:100%;
    width:100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.righter-item{
    position: relative;
    height:100%;
    width:200px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border:0px solid lightblue
}
.left-portion{
    display:flex;
    justify-content: center;
    height:80px;
    width:80px;
    /* background-color: yellow; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-image: url('https://pyxis.nymag.com/v1/imgs/705/c3d/2ea4c7aca01c7ff3ccbf688a8d54fd2263-robert-downey-jr.rsquare.h600.jpg');
    background-size: cover;
    /* box-shadow: 3px 3px white; */
    margin-top:20px;
}
#two{
    background-image: url('https://www.pinkvilla.com/imageresize/chris_evans_40th_birthday_love_tweet.jpg?width=752&t=pvorg');
}
#three{
    background-image: url('https://nationaltoday.com/wp-content/uploads/2022/10/Stan-Lee.jpg');
}
#fourth{
    background-image: url('https://assets-prd.ignimgs.com/2021/03/23/black-widow-button-1616528351974.jpg');
}
#fifth{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7FWkgoOHouJaiZPLDsW-1c9obK3U3si5Y5GrA9PZqAmE1GEXWB8fU5nDT_XcULzsWIyk&usqp=CAU');
}
.right-portion{
    height:100%;
    width:120px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  
}
.actor-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    position: relative;
    
}
.char-name{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 13px;
}
#poster-head{
    /* background-color: bisque; */
    /* position: absolute; */
    text-align: center;
    font-size: 25px;
    width:100%;
    color: rgb(248, 249, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#poster{
    background-color: aquamarine;
    width:90%;
    /* margin: auto; */
    /* border-radius:5px; */
    height:40%;
    background-image: url('poster.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 12px;
}
#poster-name{
    color: white;
    /* background-color: bisque; */
    /* position: absolute; */
    text-align: center;
    width:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#budget{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    color: white;
}
#earnings{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:10px;
    color: white;
}
#story{
    position: relative;
    width: 100%;
    height:250px;
    /* background-color: aqua; */
    display:flex;
    align-items: center;
    top:10px;
    flex-direction: column;
}
#story-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color:rgb(246, 145, 145)
}
#line{
    position: relative;
    top:4px;
    width:60%;
    height: 4px;
    background-color:red;
    z-index: 2;
}
#story-desc{
    position: relative;
    top:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color:rgb(243, 208, 208)
}
#marvel{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgb(247, 239, 239);
    /* position: absolute; */
    /* left: 5px; */
    width:100%;
    /* background-color: brown; */
    /* height:10%; */
}
#char-head{
    /* position: absolute; */
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    width: 100%;
    /* background-color: pink; */
    color: white;
}
#list{
    position: relative;
    top:10px;
    width:100%;
    height:auto;
    min-height: 540px;
    /* background-color: rgb(243, 159, 50); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item{
    /* position: relative; */
    height:125px;
    width:95%;
    /* background-color: blueviolet; */
    margin-top: 10px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 3px solid grey;
}
.left-item{
    /* background-color: red; */
    height:125px;
    width:100px;
    background-size: cover;

    background-repeat: no-repeat;
    /* border-radius: 50%; */
}
.right-item{
    /* background-color: aquamarine; */
    height:100%;
    width: 67%;
    position: relative;
}
.item-head{
    /* display: inline; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: white;
}
.right-item i{
    position: absolute;
    top: 4px;
    right:-25px;
    font-size: 20px;
}
.heart{
    color: red;
}
.item-desc{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
    padding-left: 4px;
    color:aliceblue
}
.item:hover{
    background-color: lightblue;
}
@media(max-width:1200px){
    #upper{
        background: url('https://wallpaperaccess.com/full/85019.jpg');
        background-size: cover;
    }
}
@media(max-width:1150px){
    #poster{
        width: 100%;
    }
}
@media (max-width:1045px){
    #material{
        width:90%;
    }
}
@media (max-width:900px){
    #material{
        width:95%;
    }
    .right-item i{
        right:-10px;
    }
}
@media (max-width:850px),(min-height:1000px){
    .righter-item{
        align-items: center;
        width:120px;
    }
    #right{
        width:120px;
    }
    .right-portion{
        height:40px
    }
    .left-portion{
        margin-top: 0px;
    }
    .righter-item{
        height:150px;
        flex-direction: column;
    }
    #left{
        width:30%;
    }
}
@media(max-width:760px){
    #left{
        width:32%;
    }
    .right-item i{
        right:0px;
    }
}
@media (max-width:720px){
    #upper{
        background: url('./av.jpeg');
        background-size: cover;
    }
}
@media(max-width:700px){
    #upper{
        height:30%;
    }
    #material{
        height:192%;
    }
    #bottom{
        justify-content: space-between;
    }
    #right{
        position: relative;
    }
    #middle{
        height:110%;
        width:50%;
        /* background-color: antiquewhite; */
    }
    .item{
        width:98%;
        height:220px;
        flex-direction: column;
        position: relative;
        border-width: 1px;
    }
    .left-item{
        height:100px;
        width:100px;
    }
    .right-item{
        position: absolute;
        width:97%;
        bottom: -95px;
     
    }
    .item-desc{
        position: absolute;
        top:28px;
    }
    #left{
        /* background-color: pink; */
        width:25%;
    }
    #poster{
        height: 25%;
        border-radius: 0;
        background-image: url('poster3.jpeg');
    }
}
@media(max-width:600px){
    #marvel{
        font-size:30px;
    }
    #char-head{
        font-size:25px;
    }
    #right-head{
        font-size:25px;
    }
    #material{
        width:100%;
    }
    #middle{
        width:45%;
    }
    .item-head{
        font-size: 25px;
    }
    #left{
        width:30%;
    }
    .item-desc{
        font-size: 14px;
    }
}
@media(max-width:575px){
    #upper{
        background-image: url('https://assets.entrepreneur.com/content/3x2/2000/20150513165022-avengers-superheroes.jpeg?crop=1:1');
    }
}
@media(max-width:512px){
    #poster{
        background-image:url('poster5.jpeg');
        /* background-image: url('https://wallpapercave.com/wp/wp5323628.jpg'); */
    }
    .item-head{
        font-size:20px;
        position: relative;
        top:7px;
        right:10px;
    }
    .item-head .heart{
        position:absolute;
        top:1px;
        right: -10px;
    }
}
@media(max-width:450px){
    #upper{
        background-image: url('https://wallpapercave.com/dwp2x/wp4881799.jpg');
    }
    #right{
        position: relative;
        top:5px;
        width:20%;
    }
    .righter-item{
        width: 100%;
    }
    .left-portion{
        height:70px;
        width: 70px;
    }
    .right-portion{
        width: 100%;
        position: relative;
        top:10px;
    }
    .actor-name{
        font-size: 11px;
    }
    .char-name{
        font-size:10px;
    }
    #middle{
        width: 47%;
    }
    #left{
        width: 32%;
    }
    #poster{
        height: 25%;
    }
}
@media (max-width:430px){
    #poster{
        height:20%;
    }
    .actor-name{
        font-size: 10px;
    }
}
@media (max-width:390px){
    .item-head{
        font-size:16px;
    }
    .item-desc{
        font-size: 12px;
    }
    #middle{
        width:45%;
        height:1100px;
        /* position: relative; */
    }
    #right{
        width:22%;
    }
    #poster-name,#budget,#earnings{
        font-size:13px;
    }
}
@media(min-height:800px){
    #material{
        height:155%;
    }
}
@media(min-height:1000px){
    #material{
        height:90%;
    }
    #middle{
        position: relative;
        left:20px;
    }
}
@media(min-height:1050px){
    #material{
        height:83%;
    }
    #middle{
        position: relative;
        left:25px;
    }
}
@media(max-height:900px){
    #right{
        position: relative;
        bottom:40px;
    }
}







